* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;    
    outline: none;
    border: none;
    background: transparent;
    color: black;
}

.form__input,
.now__city-name, 
.details, 
.city, 
.forecast__title {
    font-size: 24px;
}

 button {
    cursor: pointer;
}

.wrapper {
    border: 1px solid black;
    margin: 50px auto;
    width: 600px;
}

.form {
    display: flex;
    border-bottom: 1px solid black;
    padding: 10px;
}

.form__input {
    width: 100%;
    padding: 5px;
}

.form__button-img {
    height: 25px; 
}

.main {
    display: flex;
}

.info {
    height: 450px;
    width: 300px; 
    overflow: auto;
}

.info__tab {
    display: none;
}

.info__tab.active, .city {  
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.now.active {
    justify-content: space-between;
    height: 100%;
}

.now__temp {
    font-weight: bold;
    font-size: 75px;
    flex: 1;
}

.now__weather {
    align-self: center;
    height: 250px;
}

.now__city {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1;
}

.now__city-name {
    font-weight: bold;
}

.now__city-img {
    height: 25px;
}

.buttons {
    display: flex;
    height: 45px;
    border-top: 1px solid black;
}

.buttons__mode {
    flex: 1;
}

.buttons__mode + button {
    border-left: 1px solid black;
}

.buttons__mode.active {
    background-color: black;
    color: white;
}

.details__title, 
.city__title,
.forecast__title {
    padding: 10px 0 20px;
}

.details__item:not(:first-child), 
.city__item:not(:first-child) {
    margin-top: 20px;
}

.city {
    border-left: 1px solid black;
    max-height: 495px;
    overflow: auto;
    width: 100%;
}

.city__item {
    display: flex;
    width: 60%; 
    justify-content: space-between;
}

.city__item-delete {
    padding-left: 10px;
}

.forecast__item:not(:first-child) {
    margin-top: 15px;
}

.forecast__time {
    font-weight: bold;
}

.forecast__row {
    display: flex;
    align-items:center;
    justify-content: space-between;
}

.forecast__weather {
    display: flex;
    align-items: center;
    width: 40%;
    gap: 15px;
}

.forecast__feels {
    width: 40%;
}

.forecast__weather-img {
    height: 35px;
}